<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank Simulator</title>

    <link rel="stylesheet" th:href="@{/cssFiles/bankSimulatorPageStyle.css}">
</head>
<body>

<div id="container" align="center">

    <h2>Bank Simulator</h2>

    <div id="center" class="center">
        <a  th:if="${type == 'forReservation'}" th:href="@{'/payForReservation/'+${ID}}"><button type="button" id="account">Pay For Reservation</button></a>
        <a th:if="${type == 'forMembershipFee'}" th:href="@{'/OurTennis/payMembershipFee/'+${ID}}"><button type="button" id="account">Pay For Membership Fee</button></a>
    </div>
</div>

</body>
</html>
