<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OurTennis | my_reserve_details</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/cssFiles/style.css}">
    <link rel="stylesheet" th:href="@{/cssFiles/clientReservationDetailsPageStale.css}">
    <script type="text/javascript" th:src="@{/jsFiles/timer.js}"></script>

</head>
<body onload="time(); setInterval(time,1000);">

<div id="container">
    <div id="top">
        <div id="logo">
            <img th:src="@{/logo1.png}"/>
        </div>
        <div id="topMenu">
            <div id="forNormalUser">
                <a th:href="@{'/ourTennis'}">
                    <button type="button" id="account">BACK</button>
                </a>
                <a th:href="@{'/logout'}">
                    <button type="button" id="logout">LOG OUT</button>
                </a>
            </div>
            <div id="forAdmin" th:if="${isAdmin == true}">
                <a th:href="@{'/admin/usersPermissions'}">
                    <button type="button" id="admin" style="width: 315px; background-color: #511286">ADMINISTRATION</button>
                </a>
            </div>
        </div>
    </div>

    <div id="center">
        <div class="menu_div">
            <ul>
                <li><a href="/ourTennis">Application</a></li>
                <li><a href="/OurTennis/account/1">Personal Data</a></li>
                <li><a href="/OurTennis/clientReservation">My Reservation</a>
                    <ul>
                        <li id="active" style="border-bottom: 0px solid #333">Details</li>
                    </ul>
                </li>
                <li><a href="/OurTennis/clubAssociation">Club Association</a></li>
                <li><a href="/OurTennis/payment">Payment</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="clientReservations">
                <h2>Reservation Details</h2>
                <table class="reservationDate">
                    <tr>
                        <td>ID</td>
                        <td th:text="${reservation.id}"></td>
                    </tr>
                    <tr>
                        <td>Date Of Reservation</td>
                        <td th:text="${reservation.dateOfReservation}"></td>
                    </tr>
                    <tr>
                        <td>Status of Reservation</td>
                        <td th:text="${reservation.statusOfReservation}"></td>
                    </tr>
                </table>

                </br> </br>

                <table>
                    <thead>
                    <tr>
                        <th>Court</th>
                        <th>Date</th>
                        <th>Hour<br>[start time]</th>
                        <th>Time</br>[h]</th>
                        <th>Cost</br>[per Hour]</th>
                        <th>Price</br>[PLN]</th>
                        <th>Balls</th>
                        <th>Rockets</th>
                        <th>Shoes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="element,iter : ${servicesList}">
                        <td th:text="${element.court.id}"></td>
                        <td th:text="${element.date}"></td>
                        <td th:text="${element.time}"></td>
                        <td th:text="${element.numberOfHours}"></td>
                        <td th:text="${element.unitCost}"></td>
                        <td th:text="${element.price}"></td>
                        <td>
                            <span th:if="${#bools.isTrue(element.ifBalls)}">YES</span>
                            <span th:if="${#bools.isFalse(element.ifBalls)}">NO</span>
                        </td>
                        <td>
                            <span th:if="${#bools.isTrue(element.ifRocket)}">YES</span>
                            <span th:if="${#bools.isFalse(element.ifRocket)}">NO</span>
                        </td>
                        <td>
                            <span th:if="${#bools.isTrue(element.ifShoes)}">YES</span>
                            <span th:if="${#bools.isFalse(element.ifShoes)}">NO</span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                </br> </br>

                <table class="reservationDate">
                    <tr>
                        <td>Price</td>
                        <td th:text="${reservation.price}"></td>
                    </tr>
                    <tr>
                        <td>Discount Of Club Association</td>
                        <td th:if="${reservation.discount == true}">YES</td>
                        <td th:if="${reservation.discount == false}">NO</td>
                    </tr>
                    <tr>
                        <td>Final Price</td>
                        <td th:text="${reservation.finalPrice}" style="font-size: 25px; font-weight: 900; color: yellow;"></td>
                    </tr>
                    <tr>
                        <td>Type Of Paying</td>
                        <td th:text="${reservation.typeOfPaying}"></td>
                    </tr>
                    <tr>
                        <td>Status Of Paying</td>
                        <td th:text="${reservation.statusPaying}"></td>
                    </tr>
                    <tr th:if="${#strings.toString(reservation.statusPaying)} == 'To Pay'">
                        <td>Final Payment Date</td>
                        <td th:text="${reservation.finalPaymentDate}"></td>
                    </tr>
                </table>
            </div>
            <a th:if="${#strings.toString(reservation.statusPaying)} == 'To Pay'"
               th:href="@{'/OurTennis/cancelReservation/'+${reservation.id}}">
                <button type="submit" class="option" id="cancelReservation">Cancel Reservation</button>
            </a>
        </div>

        </br> </br>

        <div id="footer">
            &copy;2020 RG
        </div>
    </div>

</body>
</html>
