<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OurTennis | make_reserve</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/cssFiles/style.css}">
    <link rel="stylesheet" th:href="@{/cssFiles/clientReservationDetailsPageStale.css}">
    <script type="text/javascript" th:src="@{/jsFiles/updateAdditionsScript.js}"></script>

</head>
<body onload="time(); setInterval(time,1000);">

<div id="container">
    <div id="top">
        <div id="logo">
            <img th:src="@{/logo1.png}"/>
        </div>
        <div id="topMenu">
            <div id="forNormalUser">
                <a th:href="@{'/OurTennis/account/1'}">
                    <button type="button" id="account">ACCOUNT</button>
                </a>
                <a th:href="@{'/logout'}">
                    <button type="button" id="logout">LOG OUT</button>
                </a>
            </div>
            <div id="forAdmin" th:if="${isAdmin == true}">
                <a th:href="@{'/admin/usersPermissions'}">
                    <button type="button" id="admin" style="width: 315px; background-color: #511286">ADMINISTRATION</button>
                </a>
            </div>
        </div>
    </div>

    <div id="center">
        <div class="menu_div">
            <ul>
                <li><a href="/ourTennis">About US</a></li>
                <li id="active"><a href="/OurTennis/reservation">Reservation</a></li>
                <ul>
                    <li id="active">Make Reserve</li>
                </ul>
                <li><a href="/ourTennis/events" style="font-size: 24px;">Tournaments & Events</a></li>
                <li><a href="/ourTennis/priceList">Price-List</a></li>
                <li><a href="/ourTennis/gallery">Gallery</a></li>
                <li><a href="/ourTennis/contact">Contact</a></li>
            </ul>
        </div>
        <div id="content">
            <form action="#" th:action="@{'/OurTennis/confirmReservation'}" method="post">
                <div id="clientReservations">
                    <h2>Complete Your Reservation</h2>

                    </br> </br>

                    <table>
                        <thead>
                        <tr>
                            <th>Court</th>
                            <th>Date</th>
                            <th>Hour<br>[start time]</th>
                            <th>Time</br>[h]</th>
                            <th>Cost</br>[per Hour]</th>
                            <th>Price</br>[PLN]</th>
                            <th>Balls</th>
                            <th>Rockets</th>
                            <th>Shoes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="element,iter : *{servicesList}">
                            <td th:text="${element.court.id}"></td>
                            <td th:text="${element.date}"></td>
                            <td th:text="${element.time}"></td>
                            <td th:text="${element.numberOfHours}"></td>
                            <td th:text="${element.unitCost}"></td>
                            <td th:text="${element.price}"></td>
                            <td>
                                <span th:if="${#bools.isTrue(element.ifBalls)}">
                                     <select class="changeAdditions" th:id="'ifBalls_'+${element.id}"
                                             th:object="${element.ifBalls}">
                                        <option value="1">YES</option>
                                        <option value="0">NO</option>
                                     </select>
                                </span>
                                <span th:if="${#bools.isFalse(element.ifBalls)}">
                                     <select class="changeAdditions" th:id="'ifBalls_'+${element.id}"
                                             th:object="${element.ifBalls}">
                                        <option value="0">NO</option>
                                        <option value="1">YES</option>
                                     </select>
                                </span>
                            </td>
                            <td>
                                <span th:if="${#bools.isTrue(element.ifRocket)}">
                                    <select class="changeAdditions" th:id="'ifRocket_'+${element.id}"
                                            th:object="${element.ifRocket}">
                                        <option value="1">YES</option>
                                        <option value="0">NO</option>
                                    </select>
                                </span>
                                <span th:if="${#bools.isFalse(element.ifRocket)}">
                                    <select class="changeAdditions" th:id="'ifRocket_'+${element.id}"
                                            th:object="${element.ifRocket}">
                                        <option value="0">NO</option>
                                        <option value="1">YES</option>
                                    </select>
                                </span>
                            </td>
                            <td>
                                <span th:if="${#bools.isTrue(element.ifShoes)}">
                                     <select class="changeAdditions" th:id="'ifShoes_'+${element.id}"
                                             th:object="${element.ifShoes}">
                                        <option value="1">YES</option>
                                        <option value="0">NO</option>
                                     </select>
                                </span>
                                <span th:if="${#bools.isFalse(element.ifShoes)}">
                                     <select class="changeAdditions" th:id="'ifShoes_'+${element.id}"
                                             th:object="${element.ifShoes}">
                                        <option value="0">NO</option>
                                        <option value="1">YES</option>
                                     </select>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    </br> </br>

                    <table class="reservationDate">
                        <tr>
                            <td>Price</td>
                            <td th:text="${reservation.price}"></td>
                        </tr>
                        <tr>
                            <td>Discount Of Club Association</td>
                            <td th:if="${reservation.discount == true}">YES</td>
                            <td th:if="${reservation.discount == false}">NO</td>
                        </tr>
                        <tr>
                            <td>Final Price</td>
                            <td th:text="${reservation.finalPrice}"
                                style="font-size: 25px; font-weight: 900; color: yellow;"></td>
                        </tr>
                        <tr>
                            <td>Final Payment Date</td>
                            <td th:text="${reservation.finalPaymentDate}"></td>
                        </tr>
                        <tr th:object="${reservation}">
                            <td>Type Of Paying</td>
                            <td>
                                <select id="typeOfPaying" th:field="*{typeOfPaying}">
                                    <option value="online">Online</option>
                                    <option value="offline">Payment on the spot</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <a>
                    <button type="submit" class="option" id="cancelReservation">Confirm Reservation</button>
                </a>
            </form>
        </div>

        </br> </br>

        <div id="footer">
            &copy;2020 RG
        </div>
    </div>

</body>
</html>
