<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OurTennis | admin</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/cssFiles/style.css}">
    <link rel="stylesheet" th:href="@{/cssFiles/adminPagesStyle.css}">
    <script type="text/javascript" th:src="@{/jsFiles/timer.js}"></script>

</head>
<body onload="time(); setInterval(time,1000);">

<div id="container">

    <div id="top">
        <div id="logo">
            <img th:src="@{/logo1.png}"/>
        </div>
        <div id="topMenu">
            <div id="forNormalUser">
                <a th:href="@{'/OurTennis/account/1'}">
                    <button type="button" id="account">ACCOUNT</button>
                </a>
                <a th:href="@{'/logout'}">
                    <button type="button" id="logout">LOG OUT</button>
                </a>
            </div>
            <div id="forAdmin">
                <a th:href="@{'/ourTennis'}">
                    <button type="button" id="admin" style="width: 315px; background-color: #511286">APPLICATION
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div id="center">
        <div class="menu_div">
            <ul  style="font-size: 24px">
                <li><a href="/admin/usersPermissions">Users Permissions</a></li>
                <li><a href="/admin/tournamentsAndEvents">Tournaments & Events</a></li>
                <li id="active"><a href="/admin/clubAssociations">Club Associations</a></li>
                <li><a href="/admin/priceList">Price-List</a></li>
            </ul>
        </div>
        <div id="content">
            <h2>Club Association</h2>
            <div class="menu_div" id="divMembershipApplication" onclick="shoAndHideClubMans()" >
                <ul>
                    <li  style="background: #ff6484">
                        <span style="float: left;">Membership Application</span>
                        <div class="cslider">
                            <a class="control_next" onmouseover="this.style.background='#ff6484';" onmouseout="this.style.background='';"><i class="fa fa-arrow-right"></i></a>
                            <a class="control_prev" onmouseover="this.style.background='#ff6484';" onmouseout="this.style.background='';"><i class="fa fa-arrow-left"></i></a>
                        </div>
                    </li>
                </ul>
                <table id="membershipApplication" class="tableClubAssociation">
                    <thead>
                    <tr>
                        <th style="background-color: #1A341B;">ID</th>
                        <th style="background-color: #1A341B;">Date Of </br> Application</th>
                        <th style="background-color: #1A341B;">Name</th>
                        <th style="background-color: #1A341B;">Surname</th>
                        <th style="background-color: #1A341B;">User ID</th>
                        <th style="background-color: #1A341B;" colspan="2">Decision</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="element,iter : ${membershipApplications}">
                        <td th:text="${element.id}"></td>
                        <td th:text="${element.dateOfApplication}"></td>
                        <td th:text="${clientApplications.get(iter.index).name}"></td>
                        <td th:text="${clientApplications.get(iter.index).surname}"></td>
                        <td th:text="${clientApplications.get(iter.index).user.getId()}"></td>
                        <td><a class="acceptApplication" th:href="'/admin/acceptApplication/'+${element.id}"> ACCEPT</a></td>
                        <td><a class="noAcceptApplication" th:href="'/admin/noAcceptApplication/'+${element.id}"> NOT ACCEPT</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </br></br></br>
            <div class="menu_div" id="divListOfClubMans" onclick="shoAndHideMembershipApplications()">
                <ul >
                    <li style="background: #ff6484">
                        <span style="float: left;">List Of Club Association Persons</span>
                        <div class="cslider">
                            <a class="control_next" onmouseover="this.style.background='#ff6484';" onmouseout="this.style.background='';"><i class="fa fa-arrow-right"></i></a>
                            <a class="control_prev" onmouseover="this.style.background='#ff6484';" onmouseout="this.style.background='';"><i class="fa fa-arrow-left"></i></a>
                        </div>
                    </li>
                </ul>
                <table id="listOfClubMans" class="tableClubAssociation">
                    <thead>
                    <tr>
                        <th style="background-color: #1A341B;">ID</th>
                        <th style="background-color: #1A341B;">Date Of </br> Joining</th>
                        <th style="background-color: #1A341B;">Name</th>
                        <th style="background-color: #1A341B;">Surname</th>
                        <th style="background-color: #1A341B;">User ID</th>
                        <th style="background-color: #1A341B;">If Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="element,iter : ${clubAssociations}">
                        <td th:text="${element.id}"></td>
                        <td th:text="${element.dateOfJoining}"></td>
                        <td th:text="${clientClubMans.get(iter.index).name}"></td>
                        <td th:text="${clientClubMans.get(iter.index).surname}"></td>
                        <td th:text="${clientClubMans.get(iter.index).user.getId()}"></td>
                        <td th:if="${element.ifActive== true}"> Active </td>
                        <td th:if="${element.ifActive == false}"> No Active </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div id="footer">
            &copy;2020 RG
        </div>
    </div>
</div>
</body>
<script>
    function shoAndHideClubMans() {
        $("#membershipApplication").toggle(500);
    }

    function shoAndHideMembershipApplications() {
        $("#listOfClubMans").toggle(500);
    }
</script>
</html>