table {
  border-collapse: collapse;
  width: 100%;
  background: #111177;
}

th, td {
  text-align: left;
  padding: 8px;
  height: 40px;
  font-size: 20px
}

tr:nth-child(even){
    background-color: #1E1236;
}

th {
  background-color: #4CAF50;
  color: white;
  font-size: 21px;
}

#clientPayments{
    padding: 5px 50px 30px;
}

a.pay:hover{
    font-size: 120%;
}