table {
  border-collapse: collapse;
  width: 100%;
  background: #3f3366;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){
    background-color: #1E1236;
}

th {
  background-color: #4CAF50;
  color: white;
  font-size: 21px;
}

#clientReservations{
    padding: 5px 50px 30px;
}

.reservationDate{
    width: 350px;
    margin: auto;
    font-size: 20px;
    background: red;
}

#cancelReservation{
    width: 250px;
    color: red;
    background: lime;
    font-size: 22px;
    margin-bottom: 40px;
}