#clientData {
    margin: 50px auto 50px;
    width: 45%;
}

#register{
	width: 100%;
	margin: 20px auto 30px;
}

.heading {
    color: yellow;
    font-size: 120%;
    font-weight: 900;
    text-align: center;
}

.option {
	color: yellow;
	font-size: 20px;
	width: 250px;
	height: 60px;
	margin: 5px 30px 10px;
}

.td {
    width: 300px;
}