#choiceOption{
    margin-left: 1%;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

#calendar{
    height: 100px;
    padding: 20px 0px 0px 60px;
}

#schedule{
    height: auto;
    float: left;
}

#additions{
    padding: 5px 0px 0px;
}

#orderList{
    background: red;
    height: 400px;
    width: 35%;
    margin-left: 20px;
    float: left;
}

.calendarDay{
    float: left;
    background: #7b38d8;
    font-size: 12px;
    height: 50px;
    width: 10%;
    border-radius: 5px;
    border: 2px solid white;
    margin: 5px;
    padding: 0px;
}

.week{
    float: left;
    width: 8%;
    padding: 5px;
    margin: 10px 5px 5px;
}

#prevWeek{
    background: gray;
    color: black;
    cursor: default;
}

.clickedButton {
    color: yellow;
    font-weight: 900;
    border: 5px solid yellow;
    float: left;
    background: #7b38d8;
    font-size: 12px;
    height: 50px;
    width: 10%;
    border-radius: 5px;
    margin: 5px;
    padding: 0px;
    cursor: default;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.addition{
   font-size: 25px;
   padding: 5px 0px 0px;
   height: 30px;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

th{
    background: cornflowerblue;
    color: #d40203;
    height: 50px;
    font-size: 20px;
}

.tableHour{
    background: firebrick;
    color: white;
    font-weight: 700;
    width: 150px;
}

.tableNode {
    width: 140px;
    border-radius: 0px;
    margin: auto;
    font-size: 12px;
    border: 0px;
    padding: 15px;
}

.tableNode:hover{
    background-color:white;
}

.selectNode{
    background-color: green;
    width: 140px;
    border-radius: 0px;
    margin: auto;
    font-size: 12px;
    border: 0px;
    padding: 15px;
}

#makeReservation{
    width: 200px;
    height: 70px;
    font-size: 20px;
    background: #11333f;
    border: 5px solid #12af12;
}

#makeReservation:hover{
    background-color: blue;
}
