body
{
    margin: 0;
    background-color: #2F3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

#container {
    width: 90%;
    margin: 0 auto;
    min-width: 320px;
}

#top {
    width: 100%;
    height: 150px;
    background: gray;
    margin: 0 auto;
    background: linear-gradient(rgb(19, 3, 83) 45%, rgb(192, 218, 212) 100%);
}

#logo{
    width: 70%;
    float: left;
	font-size: 150%;
	text-align: center;
}

#logo img{
   width: 50%;
   float: left;
   padding-left: 400px;
   margin-top: 20px;
}

#topMenu{
    width: 30%;
    float: left;
	text-align: right;
}

button {
	display: inline-block;
	background-color: #7b38d8;
	border-radius: 10px;
	border: 4px solid red;
	color: #eeeeee;
	font-weight: 900;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	width: 150px;
	cursor: pointer;
	margin: 5px;
}

#center{
    height: 600px;
}

.menu_div {
	margin-top: 50px;
    width: 20%;
	height: 100%;
    float: left;
}

.menu_div ul
{
	padding:0px;
	margin-left:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight: 900;
	color:#FFF;
	list-style:none;
	text-indent:15px;
}
.menu_div ul li
{
	padding-bottom: 5px;
	background:linear-gradient(rgb(11, 6, 37) 45%, rgb(203, 9, 9) 100%);;
	line-height:70px;
    border-bottom:10px solid #333;
}
.menu_div ul li a
{
	text-decoration:none;
	color:#FFF;
	display:block;
}
.menu_div ul li a:hover
{
	background:#d40203;
}

.menu_div ul li#active a {
    color: #5accff;
}

.menu_div ul li#active
{
	background: linear-gradient(rgb(203, 9, 9) 5%, rgb(6, 6, 6) 100%);
}

#content{
    margin: auto;
    width: 80%;
    text-align: center;
    float: left;
    min-height: 350px;
    padding-bottom: 100px;
}

#footer{
    background: #888;
    clear: both;
    color: white;
    text-align: center;
    padding: 5px;
    clear: both;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Bitter', serif;
    font-size: 50px;
    color: #1AAFF1;
}

h3 {
    color: #AFF100;
    font-family: "Great Vibes", cursive;
    font-size: 35px;
    font-weight: normal;
}

.p1 {
     color: #AFF100;
     font-family: "Great Vibes", cursive;
     font-size: 25px;
     font-weight: bold;
 }

.p2 {
    color: #2b881e;
    font-family: "Great Vibes", cursive;
    font-size: 25px;
    font-weight: normal;
}

.p3 {
    color: #eaf1ef;
    font-family: "Great Vibes", cursive;
    font-size: 15px;
    font-weight: normal;
}

.p4 {
    color: #49415d;
    border: 4px solid red;
    margin: 10px 300px 0px;
    background: linear-gradient(rgb(139, 135, 179) 5%, rgb(225, 218, 237) 100%);
    font-size: 30px;
}
