<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OurTennis | price-list</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/cssFiles/style.css}">
    <link rel="stylesheet" th:href="@{/cssFiles/priceListPageStale.css}">
    <script type="text/javascript" th:src="@{/jsFiles/script.js}"></script>


</head>
<body onload="time(); setInterval(time,1000);">

<div id="container">
    <div id="top">
        <div id="logo">
            <img th:src="@{/logo1.png}"/>
        </div>
        <div id="topMenu" th:if="${logged == true}">
            <div id="forNormalUser">
                <a th:href="@{'/OurTennis/account/1'}">
                    <button type="button" id="account">ACCOUNT</button>
                </a>
                <a th:href="@{'/logout'}">
                    <button type="button" id="logout">LOG OUT</button>
                </a>
            </div>
            <div id="forAdmin" th:if="${isAdmin == true}">
                <a th:href="@{'/admin/usersPermissions'}">
                    <button type="button" id="admin" style="width: 315px; background-color: #511286">ADMINISTRATION</button>
                </a>
            </div>
        </div>
        <div id="topMenu" th:if="${logged == false}">
            <a th:href="@{'/registration'}">
                <button type="button">REGISTER</button>
            </a>
            <a th:href="@{'/login'}">
                <button type="button" id="login">LOG IN</button>
            </a>
        </div>
    </div>

    <div id="center" class="center2">
        <div class="menu_div">
            <ul>
                <li ><a href="/ourTennis">About Us</a></li>
                <li th:if="${logged == true}"><a href="/OurTennis/reservation">Reservation</a></li>
                <li><a href="/ourTennis/events" style="font-size: 24px;">Tournaments & Events</a></li>
                <li id="active"><a href="/ourTennis/priceList">Price-List</a></li>
                <li><a href="/ourTennis/gallery">Gallery</a></li>
                <li><a href="/ourTennis/contact">Contact</a></li>
            </ul>
        </div>
        <div id="content" align="center">
            <div id="priceList">
                <h2>Price List</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Game & Equipment</th>
                        <th>TIME</th>
                        <th>PRICE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="element,iter : ${priceList}">
                        <td th:text="${element.type}"></td>
                        <td th:text="${element.time}"></td>
                        <td th:text="${element.price} + ' PLN'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="footer">
        &copy;2020 RG
    </div>
</div>

</body>
</html>
