<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OurTennis | contact</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/cssFiles/style.css}">
    <link rel="stylesheet" th:href="@{/cssFiles/eventsPageStale.css}">
    <script type="text/javascript" th:src="@{/jsFiles/timer.js}"></script>

</head>
<body onload="time(); setInterval(time,1000);">

<div id="container">
    <div id="top">
        <div id="logo">
            <img th:src="@{/logo1.png}"/>
        </div>
        <div id="topMenu" th:if="${logged == true}">
            <div id="forNormalUser">
                <a th:href="@{'/OurTennis/account/1'}">
                    <button type="button" id="account">ACCOUNT</button>
                </a>
                <a th:href="@{'/logout'}">
                    <button type="button" id="logout">LOG OUT</button>
                </a>
            </div>
            <div id="forAdmin" th:if="${isAdmin == true}">
                <a th:href="@{'/admin/usersPermissions'}">
                    <button type="button" id="admin" style="width: 315px; background-color: #511286;">ADMINISTRATION
                    </button>
                </a>
            </div>
        </div>
        <div id="topMenu" th:if="${logged == false}">
            <a th:href="@{'/registration'}">
                <button type="button">REGISTER</button>
            </a>
            <a th:href="@{'/login'}">
                <button type="button" id="login">LOG IN</button>
            </a>
        </div>
    </div>

    <div id="center" class="center2">
        <div class="menu_div">
            <ul>
                <li><a href="/ourTennis">About Us</a></li>
                <li th:if="${logged == true}"><a href="/OurTennis/reservation">Reservation</a></li>
                <li id="active"><a href="/ourTennis/events" style="font-size: 24px;">Tournaments & Events</a></li>
                <li><a href="/ourTennis/priceList">Price-List</a></li>
                <li><a href="/ourTennis/gallery">Gallery</a></li>
                <li><a href="/ourTennis/contact">Contact</a></li>
            </ul>
        </div>
        <div id="content" align="center">
            <h2>Tournaments & Events</h2>
            <div id="events">
                <div class="tableHead">
                    <span>Title</span>
                    <span>Event date</span>
                    <span>Possible to participate</span>
                </div>
                </br>
                <ul class="showDetails" th:each="element,iter : ${tournaments}">
                    <span th:text="${element.title}"></span>
                    <span th:if="${element.dateOfEnded.isAfter(#temporals.createNow().toLocalDate())}"
                          th:text="${element.dateOfStarted}"></span>
                    <span th:if="${element.dateOfEnded.isBefore(#temporals.createNow().toLocalDate())}">Terminated</span>
                    <span th:if="${element.maxCountOFParticipant > element.countOFRegisteredParticipant}">
                        Yes &emsp; &emsp; &emsp; <button>Show details</button></span>
                    <span th:if="${element.maxCountOFParticipant == element.countOFRegisteredParticipant}">
                        No  &emsp; &emsp; &emsp;<button>Show details</button></span>
                    <div class="details" style="display: block">
                        <div class="infoOfEvent">
                            <table>
                                <tbody>
                                <tr>
                                    <td> Date Of started</td>
                                    <td th:text="${element.dateOfStarted}"></td>
                                </tr>
                                <tr>
                                    <td>Date Of Ended</td>
                                    <td th:text="${element.dateOfEnded}"></td>
                                </tr>
                                <tr>
                                    <td>Max Count Of Participant</td>
                                    <td th:text="${element.maxCountOFParticipant}"></td>
                                </tr>
                                <tr>
                                    <td>Count Of Actual Registered Participant</td>
                                    <td th:text="${element.countOFRegisteredParticipant}"></td>
                                </tr>
                                <tr>
                                    <td> Entry Fee</td>
                                    <td th:text="${element.entryFee}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="actionToDo">
                            </br></br>
                            <div th:if="${element.dateOfEnded.isBefore(#temporals.createNow().toLocalDate())}">
                                <h4>The Event is terminated</h4>
                            </div>
                            <div th:if="${element.dateOfEnded.isAfter(#temporals.createNow().toLocalDate())}">
                                <div th:if="${logged == false}" align="center">
                                    <h4>Only logged users can sign up for the event</h4>
                                    <a th:href="@{'/login'}">
                                        <button type="button" id="login" style="background: #161e61">LOG IN</button>
                                    </a>
                                </div>
                                <div th:if="${logged == true}" align="center">
                                    <div th:if="${userStatusList.get(iter.index)=='accepted'}">
                                        <h4>You are a participant of the event. </br> Here you can cancel your
                                            participation</h4>
                                        <a th:href="@{'/OurTennis/cancelParticipanEvent/'+${element.id}}">
                                            <button type="button" style="background: #161e61">Cancel from participation</button>
                                        </a>
                                    </div>
                                    <div th:if="${userStatusList.get(iter.index)=='delivered'}">
                                        <h4>You have sent your application for participation.</br>
                                            Currently under review by the admin</h4>
                                    </div>
                                    <div th:if="${userStatusList.get(iter.index)=='To Pay'}">
                                        <h4>Your application has been approved by the admin.</br>
                                            To fully confirm participation, pay the fee</h4>
                                        <a th:href="@{'/OurTennis/payFeeOfParticipanEvent/'+${element.id}}">
                                            <button type="button" style="background: #161e61">Pay Fee Of Participant</button>
                                        </a>
                                    </div>
                                    <div th:if="${userStatusList.get(iter.index)=='without_application' or userStatusList.get(iter.index)=='Rejected'}">
                                        <div th:if="${element.maxCountOFParticipant == element.countOFRegisteredParticipant}">
                                            <h4>Full set of participants,</br> you cannot register</h4>
                                        </div>
                                        <div th:if="${element.maxCountOFParticipant > element.countOFRegisteredParticipant}">
                                            <div th:if="${userStatusList.get(iter.index)=='Rejected'}">
                                                <h4>Your application has been rejected.</br>
                                                    There is free space left. You can re-apply</h4>
                                            </div>
                                            <div th:if="${userStatusList.get(iter.index)=='without_application'}">
                                                <h4>There is free space left.</br> You can register for the event below</h4>
                                            </div>
                                            <a th:href="@{'/OurTennis/applyForParticipanEvent/'+${element.id}}">
                                                <button type="button" style="background: #161e61">Take Part In This Event</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div id="footer">
        &copy;2020 RG
    </div>
</div>

</body>
<script>
    $(document).ready(function () {
        $(".showDetails").click(function () {
            var div = $(this).find('div');
            if (div.css("display") === "none")
                div.css("display", "block");
            else
                div.css("display", "none");
        });
    });
</script>
</html>
