<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OurTennis | make_reserve</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/cssFiles/style.css}">
    <link rel="stylesheet" th:href="@{/cssFiles/clientReservationDetailsPageStale.css}">
    <script type="text/javascript" th:src="@{/jsFiles/timer.js}"></script>

</head>
<body onload="time(); setInterval(time,1000);">

<div id="container">
    <div id="top">
        <div id="logo">
            <h1>Logo</h1>
        </div>
        <div id="topMenu">
            <a th:href="@{'/OurTennis/account/1'}">
                <button type="button" id="account">ACCOUNT</button>
            </a>
            <a th:href="@{'/logout'}">
                <button type="button" id="logout">LOG OUT</button>
            </a>
        </div>
    </div>

    <div id="center">
        <div class="menu_div">
            <ul>
                <li><a href="/OurTennis">About US</a></li>
                <li id="active"><a href="/OurTennis/reservation">Reservation</a></li>
                    <ul>
                        <li id="active">Make Reserve</li>
                    </ul>
                <li><a href="/OurTennis/priceList">Price-List</a></li>
                <li><a href="/OurTennis/gallery">Gallery</a></li>
                <li><a href="/OurTennis/contact">Contact</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="clientReservations">
                <h2>Complete Your Reservation</h2>

                </br> </br>

                <table>
                    <thead>
                    <tr>
                        <th>Court</th>
                        <th>Date</th>
                        <th>Hour<br>[start time]</th>
                        <th>Time</br>[h]</th>
                        <th>Cost</br>[per Hour]</th>
                        <th>Price</br>[PLN]</th>
                        <th>Balls</th>
                        <th>Rockets</th>
                        <th>Shoes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="element,iter : ${servicesList}">
                        <td th:text="${element.court.id}"></td>
                        <td th:text="${element.date}"></td>
                        <td th:text="${element.time}"></td>
                        <td th:text="${element.numberOfHours}"></td>
                        <td th:text="${element.unitCost}"></td>
                        <td th:text="${element.price}"></td>
                        <td>
                            <span th:if="${#bools.isTrue(element.ifBalls)}">YES</span>
                            <span th:if="${#bools.isFalse(element.ifBalls)}">NO</span>
                        </td>
                        <td>
                            <span th:if="${#bools.isTrue(element.ifRocket)}">YES</span>
                            <span th:if="${#bools.isFalse(element.ifRocket)}">NO</span>
                        </td>
                        <td>
                            <span th:if="${#bools.isTrue(element.ifShoes)}">YES</span>
                            <span th:if="${#bools.isFalse(element.ifShoes)}">NO</span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                </br> </br>

                <table class="reservationDate">
                    <tr>
                        <td>Final Price</td>
                        <td th:text="${reservation.finalPrice}"></td>
                    </tr>
                    <tr>
                        <td>Type Of Paying</td>
                        <td th:text="${reservation.typeOfPaying}"></td>
                    </tr>
                </table>
            </div>
            <a th:href="@{'/OurTennis/confirmReservation'}">
                <button type="submit" class="option" id="cancelReservation">Confirm Reservation</button>
            </a>
        </div>

        </br> </br>

        <div id="footer">
            &copy;2020 RG
        </div>
    </div>

</body>
</html>
