<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Web Api cl_account</title>

    <link rel="stylesheet" th:href="@{/cssFiles/style.css}">
    <script type="text/javascript" th:src="@{/jsFiles/timer.js}"></script>

</head>
<body onload="time(); setInterval(time,1000);">

<div id="container">
    <div id="top">
        <div id="logo">
            <h1>Logo</h1>
        </div>
        <div id="topMenu">
            <a th:href="@{'/OurTennis'}">
                <button type="button" id="back">BACK</button>
            </a>
            <a th:href="@{'/logout'}">
                <button type="button" id="logout">LOG OUT</button>
            </a>
        </div>
    </div>

    <div id="center">
        <div class="menu_div">
            <ul>
                <li id="active"><a href="/OurTennis">Application</a></li>
                <li><a href="/OurTennis/account">Personal Data</a></li>
                <li><a href="/OurTennis/clientReservation">My Reservation</a></li>
                <li><a href="/OurTennis/payment">Payment</a></li>
            </ul>
        </div>
        <div id="content">
            <!-- CHANGE DATA -->
            <form  th:if="${type >=1 && type < 2}" action="#" th:action="@{'/OurTennis/client/edit_data/'+${user.id}}" method="post">
                <div id="clientData">
                    <table border="0" cellpadding="10">
                        <tr th:if="${type == 1}">
                            <td class="heading" colspan="2">Your account</td>
                        </tr>
                        <tr th:if="${type == 1.1}">
                            <td class="heading" colspan="2">Data Change SUCCESSFUL</td>
                        </tr>
                        <tr th:if="${type == 1.2}">
                            <td class="heading" colspan="2" style="color: red">Data Change FILED</td>
                        </tr>
                        <tr th:object="${client}">
                            <td>First Name:</td>
                            <td><input type="text" th:field="*{name}"/></td>
                        </tr>
                        <tr th:object="${client}">
                            <td>Second Name:</td>
                            <td><input type="text" th:field="*{surname}"/></td>
                        </tr>
                        <tr th:object="${client}">
                            <td>Email Address:</td>
                            <td><input type="text" th:field="*{emailAddress}"/></td>
                        </tr>
                        <tr th:object="${client}">
                            <td>Phone Number:</td>
                            <td><input type="number" th:field="*{phoneNumber}"/></td>
                        </tr>
                        <tr th:object="${user}">
                            <td>Login:</td>
                            <td><input type="text" th:field="*{username}"/></td>
                        </tr>
                    </table>
                </div>
                <div id="optionClientAccount" align="center">
                    <a th:href="@{'/OurTennis/account/2'}" >
                        <button type="button" class="option" id="changePassword">CHANGE PASSWORD</button>
                    </a>
                    <a>
                        <button type="submit" class="option" id="editClientData">EDIT DATA</button>
                    </a>
                    <a th:href="@{'/OurTennis/account/3'}" >
                        <button type="button" class="option" id="deleteClient">DELETE ACCOUNT</button>
                    </a>
                </div>
            </form>
            <!-- CHANGE PASSWORD -->
            <form  th:if="${type >=2 && type <3}" action="#" th:action="@{'/OurTennis/client/changePassword/'+${user.id}}" method="post">
                <div id="clientData">
                    <table border="0" cellpadding="10">
                        <tr th:if="${type == 2.0}">
                            <td class="heading" colspan="2">Set New Password</td>
                        </tr>
                        <tr th:if="${type == 2.1}">
                            <td class="heading" colspan="2">Password Change SUCCESSFUL</td>
                        </tr>
                        <tr th:if="${type == 2.2}">
                            <td class="heading" colspan="2" style="color: red">Password Change FILED </br> (incorrect repeat new password)</td>
                        </tr>
                        <tr th:if="${type == 2.3}">
                            <td class="heading" colspan="2" style="color: red">Password Change FILED </br> (incorrect old password)</td>
                        </tr>
                        <tr th:object="${user}">
                            <td>Old Password:</td>
                            <td><input type="text"  th:value="${oldPassword}" name="oldPassword"/></td>
                        </tr>
                        <tr th:object="${client}">
                            <td>New Password:</td>
                            <td><input type="text"  th:value="${newPassword}" name="newPassword"/></td>
                        </tr>
                        <tr th:object="${client}">
                            <td>Repeat New Password:</td>
                            <td><input type="text" th:value="${repeatNewPassword}" name="repeatNewPassword"/></td>
                        </tr>
                    </table>
                </div>
                <div id="optionClientAccount" align="center">
                    <a th:href="@{'/OurTennis/account/1'}">
                        <button type="button" class="option" id="editClientData">EDIT DATA</button>
                    </a>
                    <a>
                        <button type="submit" class="option" id="changePassword">CHANGE PASSWORD</button>
                    </a>
                    <a th:href="@{'/OurTennis/account/3'}">
                        <button type="button" class="option" id="deleteClient">DELETE ACCOUNT</button>
                    </a>
                </div>
            </form>
        </div>
            <!-- DELETE ACCOUNT-->
            <form  th:if="${type >= 3}" action="#" th:action="@{'/OurTennis/client/deleteAccount/'+${user.id}}" method="post">
                <div id="clientData">
                    <table border="0" cellpadding="10">
                        <tr>
                            <td></td>
                            <td class="heading" colspan="2">DELETE ACCOUNT</td>
                        </tr>
                        <tr th:object="${client}">
                            <td>Ae you sure, you want to delete your account?</td>
                            <td><input type="text" th:field="*{name}"/></td>
                        </tr>
                    </table>
                </div>
                <div id="optionClientAccount" align="center">
                    <a th:href="@{'/OurTennis/account/1'}">
                        <button type="button" class="option" id="editClientData">EDIT DATA</button>
                    </a>
                    <a>
                        <button type="submit" class="option" id="deleteClient">DELETE ACCOUNT</button>
                    </a>
                    <a th:href="@{'/OurTennis/account/2'}">
                        <button type="submit" class="option" id="changePassword">CHANGE PASSWORD</button>
                    </a>
                </div>
            </form>
        <div id="footer">
            &copy;2020 RG
        </div>
    </div>

</body>
</html>
