<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Web Api cl_start</title>

    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <script type="text/javascript" src="script.js"></script>

</head>
<body onload="time(); setInterval(time,1000);">

<div id="container">
    <div id="top">
        <div id="logo">
            <h1>Logo</h1>
        </div>
        <div id="topMenu">
            <a th:href="@{'/account/1'}"><button type="button" id="account">ACCOUNT</button></a>
            <a th:href="@{'/logout'}"><button type="button" id="logout">LOG OUT</button></a>
        </div>
    </div>

    <div id="center">
        <div class="menu_div">
            <ul>
                <li id="active"><a href="/start">Reservation</a></li>
                <li><a href="/start">About Us</a></li>
                <li><a href="priceList">Price-List</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </div>
        <div id="content">
            <h1>HELLO</h1>
        </div>
    </div>

    <div id="footer">
        &copy;2020 RG
    </div>
</div>

</body>
</html>
