<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OurTennis | payment</title>S

    <link rel="stylesheet" th:href="@{/cssFiles/style.css}">
    <link rel="stylesheet" th:href="@{/cssFiles/clientPaymentPageStale.css}">
    <script type="text/javascript" th:src="@{/jsFiles/timer.js}"></script>

</head>
<body onload="time(); setInterval(time,1000);">

<div id="container">
    <div id="top">
        <div id="logo">
            <h1>Logo</h1>
        </div>
        <div id="topMenu">
            <a th:href="@{'/OurTennis'}">
                <button type="button" id="back">BACK</button>
            </a>
            <a th:href="@{'/logout'}">
                <button type="button" id="logout">LOG OUT</button>
            </a>
        </div>
    </div>

    <div id="center">
        <div class="menu_div">
            <ul>
                <li><a href="/OurTennis">Application</a></li>
                <li><a href="/OurTennis/account/1">Personal Data</a></li>
                <li><a href="/OurTennis/clientReservation">My Reservation</a></li>
                <li id="active"><a href="/OurTennis/payment">Payment</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="clientPayments">
                <h2>My Payments</h2>
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Final </br> Payment Date</th>
                        <th>Price</th>
                        <th>Type Of </br> Paying</th>
                        <th>Status Of </br> Paying</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="element,iter : ${reservationList}">
                        <td th:text="${element.id}"></td>
                        <td th:text="${element.finalPaymentDate}"></td>
                        <td th:text="${element.finalPrice}"></td>
                        <td th:text="${element.typeOfPaying}"></td>
                        <td th:text="${element.statusPaying}"></td>
                        <td th:if="${#strings.toString(element.statusPaying)} == 'To Pay'">
                            <a class="pay" th:href="@{'/bankSimulator/'+${element.id}}" style="color: yellow">Pay</a>
                        </td>
                        <td th:if="${#strings.toString(element.statusPaying)} == 'Paid'">-----</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="footer">
            &copy;2020 RG
        </div>
    </div>

</body>
</html>
