<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OurTennis | contact</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/cssFiles/style.css}">
    <link rel="stylesheet" th:href="@{/cssFiles/contactPageStale.css}">
    <script type="text/javascript" th:src="@{/jsFiles/script.js}"></script>


</head>
<body onload="time(); setInterval(time,1000);">

<div id="container">
    <div id="top">
        <div id="logo">
            <h1>Our Tennis</h1>
        </div>
        <div id="topMenu" th:if="${logged == true}">
            <a th:href="@{'/OurTennis/account/1'}">
                <button type="button" id="account">ACCOUNT</button>
            </a>
            <a th:href="@{'/logout'}">
                <button type="button" id="logout">LOG OUT</button>
            </a>
        </div>
        <div id="topMenu" th:if="${logged == false}">
            <a th:href="@{'/registration'}">
                <button type="button">REGISTER</button>
            </a>
            <a th:href="@{'/login'}">
                <button type="button" id="login">LOG IN</button>
            </a>
        </div>
    </div>

    <div id="center" class="center2">
        <div class="menu_div">
            <ul th:if="${logged == true}">
                <li><a href="/OurTennis">About US</a></li>
                <li><a href="/OurTennis/reservation">Reservation</a></li>
                <li><a href="/OurTennis/priceList">Price-List</a></li>
                <li><a href="/OurTennis/gallery">Gallery</a></li>
                <li id="active"><a href="/OurTennis/contact">Contact</a></li>
            </ul>
            <ul th:if="${logged == false}">
                <li><a href="/ourTennis">About Us</a></li>
                <li><a href="/ourTennis/priceList">Price-List</a></li>
                <li><a href="/ourTennis/gallery">Gallery</a></li>
                <li id="active"><a href="/ourTennis/contact">Contact</a></li>
            </ul>
        </div>
        <div id="content" align="center">
            <div id="contact">
                <h2>Contact</h2>
                </br></br>
                <table>
                    <tbody>
                    <tr></tr>
                    <tr>
                        <td>Address :</td>
                        <td>Chrząszczyrzewoszyce ul. Wesoła 12</td>
                    </tr>
                    <tr>
                        <td>Phone :</td>
                        <td>+48 123 456 789</td>
                    </tr>
                    <tr>
                        <td>E-mail :</td>
                        <td>ourTennis@ourtennis.com</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="footer">
        &copy;2020 RG
    </div>
</div>

</body>
</html>
